<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <test name="demo">

        <classes>

            <class name="TC1">
                <methods>
                    <include name="test1"/>
                    <include name="test2"/>

                </methods>

            </class>

            <class name="TC2">
                <methods>
                    <include name="test3"/>
                    <include name="test4"/>

                </methods>

            </class>

        </classes>

    </test>

</suite>
